* {
    margin: 0;
    padding: 0;
}

body {
    background: #ff98da;
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.allWrap {
    margin: 0 auto;
    width: 91.6%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

header {
    font-family: 'Times New Roman', Times, serif;
    position: fixed;
    z-index: 5;
    width: 91.6%;
    height: 115px;
    background: #ff98da;
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid black;
}

header>div:first-of-type {
    display: flex;
}

header h1 {
    margin-left: 100px;
    z-index: 6;
}

.menu {
    height: 115px;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: 10fr 155px 1fr;
    align-items: center;
}

.menu ul {
    display: flex;
    justify-content: space-evenly;
    margin-left: 200px;
}

.menu li {
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 50%;
    border: 1px solid #ff98da;
    transition: border 0.5s;
}

.menu li:hover {
    border: 1px solid black;
}

.menu li.active {
    border: 1px solid black;
}

section {
    width: 100%;
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
}

/* 섹션1 */
#home {
    position: relative;
    height: 750px;
}

#home video {position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    height: 400px;}

#home h2 {
    width: 80%;
    z-index: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    font-weight: 400;
    line-height: 1.5;
}

#home h2 p {
    font-size: 25px;
    line-height: 1.5;
}



#about {
    width: 100%;
    padding-top: 110px;
    display: grid;
    grid-template-columns: 0px 1fr 80px;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
}

.centerWrap {
    width: 91.6%;
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr 0.5fr 1fr;
    justify-items: center;
    align-items: center;
}

#about .centerWrap>div {
    width: 15vw;
    height: 450px;
    margin-bottom: -90px;
    background: url(./img/face.jpg) no-repeat center / cover;
}

.centerWrap p {
    height: 80px;
    margin-top: 0;
    text-align: left;
    font-size: 20px;
    font-weight: 300;
    line-height: 2;
}

.centerWrap span {
    display: block;
    font-size: 15px;
}

/* 섹션3 */

#skills span {
    padding-bottom: 50px;
}

#skills h2 {
    margin-top: 50px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.bars {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

#skills p {
    font-size: 18px;
    text-align: left;
}

#skills img {
    width: 20px;
}

.item {
    margin-top: 10px;
    height: 30px;
    border: 1px solid black;
    margin-bottom: 15px;
    padding: 7px;
    box-sizing: border-box;
}

.bar {
    height: 14px;
    background-color: black;
    width: 0%;
    transition: width 1.5s ease-out;
    transition-delay: 0.8s;
}

.bar01.active {
    width: 70%;
}

.bar02.active {
    width: 90%;
}

.bar03.active {
    width: 70%;
}

.bar04.active {
    width: 90%;
}

.bar05.active {
    width: 70%;
}

.bar06.active {
    width: 80%;
}

.bar07.active {
    width: 80%;
}

.bar08.active {
    width: 70%;
}

/* 섹션4~6 */

#slide1,
#slide3,
#slide2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    overflow: hidden;
}

.slick-prev {
    margin-left: 100px;
    z-index: 3;
}

.slick-next {
    margin-right: 100px;
}

#slide1 span:first-of-type,
#slide2 span:first-of-type {
    position: absolute;
    top: 20%;
    text-align: center;
    font-size: 25px;
}

#slide3 span:first-of-type {
    position: absolute;
    top: 25%;
    text-align: center;
    font-size: 25px;
}
#slide1 span:nth-of-type(2),
#slide2 span:nth-of-type(2) {
    position: absolute;
    bottom: 2%;
    text-align: center;
    font-size: 25px;
}

#slide3 span:nth-of-type(2) {
    position: absolute;
    bottom: 10%;
    text-align: center;
    font-size: 25px;
}

#slide1 span:last-of-type,
#slide2 span:last-of-type {
    width: 0.5px;
    height: 65%;
    background-color: black;
    position: absolute;
    bottom: 8%;
    margin-left: 10px;
    text-align: center;
}

#slide3 span:last-of-type { width: 0.5px;
    height: 55%;
    background-color: black;
    position: absolute;
    bottom: 15%;
    margin-left: 10px;
    text-align: center;}

#slide1 .centerWraps,
#slide2 .centerWraps,
#slide3 .centerWraps {
    display: flex;
    justify-content: center;
    padding-top: 115px;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

#slide1 .centerText {
    text-align: left;
    margin-left: 5%;
    width: 48%;
    box-sizing: border-box;
}

#slide1 .ceterImg {
    width: 45%;
    box-sizing: border-box;
}

#slide1 .ceterImg div {
    width: 575px;
    height: 400px;
    margin-bottom: 50px;
    margin-left: 50px;
    overflow: hidden;
}

#slide1 .ceterImg div:hover img {
    opacity: 0.8;
    scale: 1.1;
}

#slide1 .ceterImg img {
    width: 30vw;
    transition: all 0.5s;
}

#slide2 .centerText {
    text-align: left;
    margin-left: 5%;
    width: 48%;
    box-sizing: border-box;
}

#slide2 .ceterImg {
    width: 45%;
    margin-left: 100px;
    box-sizing: border-box;
}

#slide2 .ceterImg div {
    width: 575px;
    height: 400px;
    margin-bottom: 50px;
    margin-left: 20px;
    overflow: hidden;
}

#slide2 .ceterImg div:hover img {
    opacity: 0.8;
    scale: 1.05;
}

#slide2 .ceterImg img {
    width: 30vw;
    transition: all 0.5s;
}

#slide3 .centerText {
    text-align: left;
    margin-left: 5%;
    width: 48%;
    box-sizing: border-box;
}

#slide3 .ceterImg {
    width: 50%;
    height: 600px;
    box-sizing: border-box;
}

#slide3 video {
    width: 70%;
    margin-top: 130px;
    margin-right: 50px;
}


#slide1 .centerText>p,
#slide2 .centerText>p,
#slide3 .centerText>p {
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 20px;
}

#slide1 h3,
#slide2 h3,
#slide3 h3 {
    font-weight: 400;
    font-size: 50px;
    margin-top: -10px;
}

#slide1 h4,
#slide2 h4,
#slide3 h4 {
    margin-top: 50px;
    font-weight: 300;
    font-size: 25px;
}

#slide1 button,
#slide2 button,
#slide3 button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 80px;
    padding-bottom: 5px;
}

#slide1 button div,
#slide2 button div,
#slide3 button div {
    display: inline-block;
    width: 50px;
    height: 1px;
    vertical-align: middle;
    background-color: black;
}

#slide1 .centerText>b,
#slide2 .centerText>b,
#slide3 .centerText>b {
    display: inline-block;
    width: 180px;
    height: 1px;
    background-color: black;
    vertical-align: top;
}

#slide1 .centerText button:hover~b,
#slide2 .centerText button:hover~b,
#slide3 .centerText button:hover~b {
    animation: scalechange 0.6s;
    animation-fill-mode: both;
}

@keyframes scalechange {
    0% {
        transform-origin: right;
        transform: scale(20%);
    }

    100% {
        transform-origin: right;
        transform: scale(100%);
    }
}


.keyword>div {
    padding: 0 20px;
border: 1.5px solid black;
    border-radius: 50px 50px 50px 50px;
    margin-right: 15px;
    font-size: 18px;
    display: inline-block;
}


/* 섹션7  */
.contactWrap {
    position: relative;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    align-items: center;
    text-align: left;
    line-height: 1.9;
}

.contactWrap div:first-of-type {
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.contactWrap div:last-of-type {
    border-left: 1px solid black;
    margin-top: 120px;
    margin-bottom: 100px;
}

.contactWrap h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    margin: 0 auto;
    position: relative;
    top: 45%;
}

.contactWrap p {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 100px;
    font-size: 30px;
}

.contactWrap b {
    font-size: 40px;
    margin-bottom: 35px;
}

.last {
    text-align: center;
    margin-top: 20px;
}